* {
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: none;
}
@font-face {
    font-family: 'Trajan Pro';
    src: url(/Diaspora/fonts/TrajanPro-Regular.woff) format('woff');
}
html {
    font-family: 'Trajan Pro';
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    text-align: center;
    font-display: swap;
    font-size: 20pt;
    font-weight: 900;

}
/* видео фон настройка */
div.body {
    position: fixed;
    background-image:
         url('/Diaspora/media/fullhd.gif');
    background-size: cover;
    background-position: center;
    left: 0%;
    right: 0%;
    width: 100vw;
    height: 100vh;
}

a {
    color: brown;

}
a:hover {
    color: white;
    transition: 0.4s;
}
img {
    display: inline;
    image-orientation: from-image;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.container {
    position: absolute;
    top: 28vh;
    left: 9vw;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.artist-frame {
    /* left: 17vw; */
    background-color: rgba(0, 0, 0, 0.484);
    width: 500px;
    height: max-content;
    border-radius: 10px;

}
p.font_w_normal {
    font-weight: 100;
    font-size: medium;
}
.frame-size {
    width: 500px;
    height: max-content;
}

.navigation {
    color: white;
    background-color: rgba(0, 0, 0, 0.484);
    padding: 0% 10px;
    border-radius: 10px;
}
/* время и место, форма оьратного отсчета */
#countdown {

}
#data_place {

}

@media (max-width: 1000px) {
        /* видео фон настройка */
    div.body {
        position: fixed;
        background-image:
            url('/Diaspora/media/Эпизод-01_2.gif');
        background-size: cover;
        background-position: center;
        left: 0%;
        right: 0%;
        width: 100vw;
        height: 100vh;
    }
    html {
        font-size: 35pt;
    }
    .container {
        position: absolute;
        top: 28vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        left: 0%;
    }
    .navigation {
        left: 0%;
    }
    .artist-frame {
        left: 0%;
    }
    .navigation li {
        display: inline-flex;
    }
    a {
        color: brown;
        /* background-color: antiquewhite;
        border-radius: 400px; */
    }

}